:root {
    --orange: #FDA037;
    --blue: #013CA2;
    --navy: #15162E;
    --white: #FFFFFF;
    --black: #000000;
    --box-shadow: -5px 5px 5px var(--navy);
    
}

html {
    background-color: var(--white);
}

body {
    box-sizing: border-box;
    color: var(--white);
}

body.dark {
    background-color: var(--black);

}

body.dark #tour h2 {
    color: var(--white);
}

/*-----HEADER STYLES----*/
header, main, footer {
    width:100%;
    padding: 20px;
    max-width: calc(1280px - 32px);
    margin: 0 auto;
}

header img {
    width: 100%;
    height:  300px;
    position: relative;
    margin-top: 0px;
}

#header-content {
    margin-top: 0;
    position: absolute;
    top: 20px;
    text-align: center;
}

nav ul li {
    margin-left: 30px;
    margin-top:-30px;
    margin-bottom: 50px;
    padding: 10px;
    text-align: left;
}

ul li {
    list-style: none;
}

li a {
    color: var(--black);
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    background-color: var(--orange);
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: -2px 3px 10px #15162E;
    text-transform: uppercase;
}

li a:hover {
    box-shadow: -5px 5px 11px #15162E ;
    font-size:16px;
}

/*-----TEXT STYLES-----*/
h1 {
    font-family: "Lalezar", serif;
    text-transform: uppercase;
    font-size: 50px;
    margin-left: 80px;
    text-shadow: 2px 2px 2px #15162E;
}
/*-----HEADINGS-----*/
h1, h2, h3 {
    text-align: center;
    font-weight: bold;
}


#skip {
    position:absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip:focus{
    position: static;
    width: auto;
    height: auto;
}

.sr-only {
    position:absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/*-----TOUR SECTION STYLES-----*/
#tour h2 {
    margin-top: 0;
    grid-column: 1/-1;
    font-size: 35px;
    color:var(--black);
    font-weight: bold;
    font-family: "Lalezar", serif;
    text-shadow:2px 2px 2px #15162E;
}

#tour {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#tour ul {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    font-family: "DM Sans", sans-serif;
    column-gap: 10px;
    margin-left: 10rem;
    color: var(--black);
    font-weight: bold;
}


strong {
    color: var(--orange);
}

#tour p {
    grid-column: 1/-1;
    text-align: center;
    margin-top: -30px;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
}

#tour img {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-left: 7rem;
    padding-bottom: 50px;
    padding-top: 20px;
    width: 100%;
}

/*ALBUM SECTION STYLES-----*/
#albums img {
    width: 450px;
    height: 450px;
    grid-row: 1/-1;
    grid-column: 2/-1;
    margin-top: 40px;
    margin-left: 100px;
}

#albums h3 {
    margin-left: 35px;
    font-family: "Lalezar", serif;
    font-size: 25px;
   text-shadow:2px 2px 2px #15162E;
}

#albums h2 {
    font-size: 35px;
    color: var(--black);
    font-weight: bold;
    font-family: "Lalezar", serif;
}


.tracklist {
    margin-top: -40px;
    margin-left: 70px;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    color: var(--black);
}

#albums {
    background-color: var(--orange);
    padding: 1.5rem;
    width: calc(100% - 2rem);
    max-width: 1200px;
    margin-left: 5px;
}

#albums .currentItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 1rem;
}

.hiddenItem {
    display: none;
}

#albumButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    width: fit-content;
    position: relative;
    left: 40px;
    bottom: 0;
}

#btn1, #btn2, #btn3 {
    background-color: var(--blue);
    color: var(--white);
    text-decoration: none;
    padding: 10px;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    margin-right: 90px;
    box-shadow: var(--box-shadow);
    border-radius: 7px;
}

#btn1:hover, #btn2:hover, #btn3:hover {
    box-shadow: -10px 8px 10px #15162E;
    font-size: 21px;
}

/*----- GUESSING GAME STYLES-----*/
#game {
    padding-bottom: 2rem;
    margin-top: 50px;
}

#game div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap:  70px;
    margin: 0 auto;
    max-width: 1100px;
}


#game h2 {
    grid-column: 1/-1;
    font-size: 35px;
    color:var(--black);
    font-weight: bold;
    font-family: "Lalezar", serif;
}


#gameDisplay {
    grid-column: 2/2;
    grid-row: 2/4;
}

#gameDisplay h3 {
    font-family: "Lalezar", serif;
    color: var(--black);
    font-size: 35px;
}


#gameDisplay p {
    font-family: "DM Sans", sans-serif;
    font-size: 22px;
    color: var(--black);
}

#game img {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    margin-left: 8.5em;
}

#game span {
    color: var(--orange);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.message {
    display: none;
}

#gameOutput {
    margin-left: 6rem;
    color: var(--black);
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
}

/*-----FORM-----*/
#game form {
    grid-column: 1/2;
    margin-top: 9em;
}

label, input {
    display: block;
}

label {
    font-family: "DM Sans", sans-serif;
    font-size: 25px;
    color: var(--black);
}

input[type="number"] {
    width:  90%;
    height:  50px;
}

input[type="submit"] {
    width: 50%;
    height: 30%;
    margin-left: 100px;
    margin-top: 20px;
    background-color: var(--orange);
    color: var(--navy);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 7px;
}

input[type="submit"]:hover {
    box-shadow: -10px 8px 10px #15162E;
    font-size: 21px;
}

/*-----CONTACT STYLES-----*/ 
#contact {
    background-color: var(--blue);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 100px;
}

#contact img {
    margin-left: 10rem;
    width: 300px;
    height: 300px;
    grid-column: 1/2;
    margin-top: 50px;
}

#contact h2 {
    grid-column: 1/-1;
    text-align: center;
    font-size: 35px;
    color:var(--white);
    font-weight: bold;
    font-family: "Lalezar", serif;
    text-shadow:2px 2px 2px #15162E;
}

#contact form {
    grid-column: 2/3;
    margin-top: 50px;
    max-width: 500px;
}

#contact form input {
    width: 100%;
    height: 30px;
    margin-bottom: 8px;
}

#contact input[type="submit"] {
    width: 300px;
    height: 60px;
}

.error {
    border: 2px solid #FDA037;
}


#contact label {
    font-size: 20px;
    margin-bottom: 8px;
    color: var(--white);
}
 
#contact p {
    color: var(--orange);
    font-family: "DM Sans", sans-serif;
    font-size: 20px;

}

.hidden {
    display: none;
}

.phoneRequired, .emailRequired {
    color: var(--orange);
}

.required {
    color: var(--orange);
}

/*-----FORM RADIOS-----*/

fieldset {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

legend {
    font-size: 20px;
}
label.radio {
    display:grid;
    grid-template-columns: min-content auto;
    align-items: center;
    column-gap: 10px;
}


.radio_input {
    display: flex;
}

textarea {
    width: 100%;
}

footer {
    text-align: center;
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
}