:root {
    --orange: #FDA037;
    --navy: #15162E;
    --white: #FFFFFF;
    
}

html {
    background-color: var(--navy);
    

}

body {
    box-sizing: border-box;
    color: var(--white);
}

header, main, footer {
    width:100%;
    padding: 20px;
    max-width: calc(1280px - 32px);
    margin: 0 auto;
}

/*-----HEADINGS-----*/
h1, h2, h3 {
    text-align: center;
    font-weight: bold;
}






#skip {
    position:absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip:focus{
    position: static;
    width: auto;
    height: auto;
}



.sr-only {
    position:absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#albums img {
    width: 400px;
    height: 400px;
    grid-row: 1/-1;
}

#albums {
    background-color: var(--orange);
    padding: 1rem;
    width: calc(100% - 2rem);
    max-width: 1200px;
}

#albums .currentItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 1rem;
}

.hiddenItem {
    display: none;
}


#albumButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    width: fit-content;
    margin: 2rem auto;
}

#albums h3 {
    grid-column: 2/-1;
    align-self: end;
}